.place__paragraph {
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:not(:last-of-type) {
  margin: 0 0 25px;
}

@media screen and (max-width: 726px) {
  .place__paragraph {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
  }
}

