.footer__copyright {
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 706px) {
  .footer__copyright {
    line-height: 14px;
  }
}
