.cover {
  background-image: url(../../images/cover-trains.jpg);
  max-width: calc(100% - 48px*2);
  background-position: center;
  background-size: cover;
  min-height: 740px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 412px) {
.cover {
    min-height: 200px;
  }
}
