.root__footer {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .root__footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 706px) {
  .root__footer {
    margin-top: 64px;
  }
}
