@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src:  url(../fonts/Inter-Regular.otf) format("woff2"),
        url(../fonts/Inter-Regular.ttf) format("woff2"),
        url(../fonts/Inter-Regular.woff) format("woff2"),
        url(../fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src:  url(../fonts/Inter-Black.otf) format("woff2"),
        url(../fonts/Inter-Black.ttf) format("woff2"),
        url(../fonts/Inter-Black.woff) format("woff2"),
        url(../fonts/Inter-Black.woff2) format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src:  url(../fonts/Inter-Bold.otf) format("woff2"),
        url(../fonts/Inter-Bold.ttf) format("woff2"),
        url(../fonts/Inter-Bold.woff) format("woff2"),
        url(../fonts/Inter-Bold.woff2) format("woff2");
}

body {
  background-color: #2a2c2f;
}

.page {
  background-color: red;
  font-family: "Inter",sans-serif;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
}

.page__header {
  margin: 0 auto;
}

.page__content {
  margin: 0 auto;
}

.page__footer {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .content__cover {
    margin-top: 88px;
  }
}

@media screen and (max-width: 706px) {
  .page__footer {
    margin-top: 64px;
  }
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  max-width: calc(100vw - 48px*2);
  max-height: 52px;
  padding-top: 28px;
}

@media screen and (max-width: 721px) {
  .header {
    max-width: calc(100vw - 24px*2);
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: calc(100vw - 16px*2);
    padding-top: 16px;
    max-height: 42px;
  }
}

.header__logo {
  max-width: 176px;
  min-height: 52px;
  transition: opacity .5s linear 0s;
}

.header__logo:hover {
  opacity: .8;
}

@media screen and (max-width: 576px){
  .header__logo {
    max-width: 142px;
    min-height: 42px;
  }
}

.header__lang-link {
  color: white;
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration: none;
  transition: opacity .5s linear 0s;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 576px){
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link:not(:last-of-type) {
  margin-right: 18px;
}
/* Header Section */

/* Content Section */
.content__lead {
  margin: 56px auto 0;
}

@media screen and (max-width: 1024px) {
  .content__lead {
    margin-top: 48px;
  }
}

.content__intro {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .content__intro {
    margin-top: 88px;
  }
}

@media screen and (max-width: 675px) {
  .content__intro {
    margin-top: 64px;
  }
}

.content__places {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .content__places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 675px) {
  .content__places {
    margin-top: 64px;
  }
}

.content__photo-grid {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    margin-top: 88px;
  }
}

@media screen and (max-width: 675px) {
  .content__photo-grid {
    margin-top: 64px;
  }
}

.content__cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 768px) {
  .content__cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 675px) {
  .content__cover {
    margin-top: 66px;
  }
}


/* Content Section */

/* Lead Section */
.lead {
  max-width: calc(100vw - 148px*2);
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100vw - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100%;
  }
}

.lead__title {
  /* border: 1px solid blue; */
  max-width: 720px;
  margin: 0 auto;
  color: white;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 675px) {
  .lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  /* border: 1px solid blue; */
  max-width: 640px;
  margin: 32px auto 0;
  color: white;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media screen and (max-width: 642px){
  .lead__subtitle {
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  width: 100%;
  margin: 64px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 642px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__caption {
  color: white;
  margin: 8px 0 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .lead__caption {
    margin-left: 24px;
  }

}
/* Lead Section */

/* Intro Section */
.intro {
  /* border: 1px solid blue; */
  max-width: calc(100vw - 148px*2);
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100vw - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100vw - 24px*2);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: calc(100vw - 16px*2);
  }
}

.intro__title {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
}


@media screen and (max-width: 576px){
  .intro__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
  }
}

.intro__text {
  margin: 40px 0 0;
  color: white;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
}

@media screen and (max-width: 768px){
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px){
  .intro__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    max-width: 288px;
  }
}

.intro__list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 33px 0 0;
  max-width: 690px;
}

@media screen and (max-width: 576px){
  .intro__list{
    margin: 33px auto 0;
  }
}

.intro__list-item {
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-number {
  font-weight: normal;
}
/* Intro Section */

/* Photo Grid Section */
.photo-grid {
  /* border: 1px solid blue; */
  max-width: calc(100vw - 48px*2);
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100vw - 48px*2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: calc(100vw - 24px*2);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100vw - 16px*2);
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%
}
/* Photo Grid Section */

/* Places Section */
.places {
  max-width: calc(100vw - 148px*2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,auto);
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100vw - 48px*2);
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100vw - 24px*2);
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 100%;
    row-gap: 50px;
  }
}

.place {
  /* border: 1px solid blue; */
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 642px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: 1fr;
  }
}

.place__title {
  /* border: 1px solid blue; */
  margin: 0 0 48px;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 890px) {
  .place__title {
    color: #fff;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 642px) {
  .place__title {
    color: #fff;
    margin: 0 16px 32px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}

.place__website {
  align-self: end;
  margin: 0 0 48px;
}

@media screen and (max-width: 890px) {
  .place__website {
    margin: 0 16px 32px;
  }
}

.place__url-heading {
  text-transform: uppercase;
  margin: 0 0 12px;
  color: #aaa;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
}

.place__link {
  /* border: 1px solid blue; */
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .5s linear 0s;
}

.place__link:hover{
  opacity: .8;
}

.place__image {
  /* border: 1px solid blue; */
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 642px) {
  .place__paragraphs {
    margin: 32px 0 0;
  }
}

.place__paragraph {
  /* border: 1px solid blue; */
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

@media screen and (max-width: 726px) {
  .place__paragraph {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
  }
}

.place__paragraph:not(:last-of-type) {
  margin: 0 0 25px;
}
/* Places Section */

/* Cover Section */
.cover {
  width: calc(100vw - 48px*2);
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

.cover__background {
  background-image: url(../images/cover-trains1.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 740px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 412px) {
  .cover__background {
    min-height: 200px;
  }
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0;
  width: 100%;
  min-height: 100%;
  transition: opacity .5s linear 0s;
}

.cover__overlay:hover {
  opacity: .8;
}

.cover__text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}


.cover__title {
  /* padding: 245px; */
  margin: 0;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 515px) {
  .cover__title {
    font-size: 52px;
    line-height: 66px;
    }
}


@media screen and (max-width: 412px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    }
}


.cover__title-link {
  text-decoration: none;
  color: #fff;
}

.cover__subtitle {
  margin: 32px auto 0;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
}

@media screen and (max-width: 412px) {
  .cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    max-width: 288px;
    }
}

/* Cover Section */

/* Footer Section */
.footer {
  max-width: calc(100vw - 48px*2);
  min-height: 18px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100vw - 24px*2);
  }
}

@media screen and (max-width: 706px) {
  .footer {
    max-width: calc(100vw - 16px*2);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px;
  }
}

.footer__links {
  margin: 0;
  list-style: none;
  padding: 0;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-rows: 1fr;
  gap: 18px;
}

@media screen and (max-width: 706px) {
  .footer__links {
    max-width: calc(100vw - 16px*2);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 32px;
    justify-content: start;
  }
}

.footer__link {
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: opacity .5s linear 0s;
}

.footer__link:hover{
  opacity: .8;
}

.footer__copyright {
  margin: 0;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  justify-content: start;
}

/* Footer Section */
